# Ignore the .refresh_token.txt file as it is personal for the reddit user
.refresh_token.txt

# Ignore __pycache__
__pycache__/

# ignore the db
db.json

# Ignore the assets
assets/

# ignore the config
config.yaml

# ignore the venv
.venv/

# ignore .vscode
.vscode/

# ignore the thing generated when you uv sync
*.egg-info/